<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员选课</title>
    <base th:href="@{/}">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.5.0-dist/css/bootstrap.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>

    <link href="https://getbootstrap.com/docs/4.5/examples/dashboard/" rel="canonical">
    <link href="dashboard.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    window.onload = function () {	// 页面加载之后, 获取页面中的对象
        var message = [[${message}]];
        if (message != null && message != "") {
            alert(message);
        }
    }

    function infoModal(name, info) {
        $('#courseInfo').empty();
        $('#title').empty();
        $('#courseInfo').append(info);
        $('#title').append(name + ' 简介');
        $('#ModalInfo').modal('show');
    }

    function takeCourse(courseID, courseName) {
        $('#ModalTake_title').empty();
        $('#ModalTake_title').append(courseName + ' 选课');
        $('#course_id').val(courseID);
        $('#ModalTake').modal('show');
    }

    function quitCourse(courseID) {
        $('#ModalQuit').modal('show');
    }
</script>
<div th:replace="staff/fragments::topNav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="staff/fragments::sidebarMenu(activeUri='chooseClass')"></div>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">会员选课</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">

                        <button class="btn btn-outline-success" data-target="#ModalManage"
                                data-toggle="modal" type="button">
                            <span data-feather="user-plus"></span>
                            发布课程
                        </button>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>课程编号</th>
                        <th>课程名</th>
                        <th>教练ID</th>
                        <th>容量</th>
                        <th>人数</th>
                        <th>房间号</th>
                        <th>开课日期</th>
                        <th>结课日期</th>
                        <th>状态</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course :${courseList}">
                        <td th:text="${course.id}"></td>
                        <td th:text="${course.name}"></td>
                        <td th:text="${course.coach_id}"></td>
                        <td th:text="${course.capacity}"></td>
                        <td th:text="${course.number_of_member}"></td>
                        <td th:text="${course.room_number}"></td>
                        <td th:text="${#dates.format(course.start_date,'yyyy年MM月dd日')}"></td>
                        <td th:text="${#dates.format(course.end_date,'yyyy年MM月dd日')}"></td>
                        <td th:text="${course.state}"></td>
                        <td>
                            <button class="btn btn-success"
                                    th:onclick="infoModal([[${course.name}]],[[${course.description}]]);">查看
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                    th:onclick="takeCourse([[${course.id}]], [[${course.name}]]);">
                                会员选课
                            </button>
                            <a class="btn btn-outline-danger btn-sm" th:href="@{staff/quitClass/}+${course.id}">
                                会员退课
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<!--ModalManage-->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false" id="ModalManage"
     role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/staff/courseManage/add" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">发布课程</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="name">课程名</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="name" name="name" required type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="name">教练ID</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="coach_id" name="coach_id" required type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="capacity">容量</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="capacity" name="capacity" required type="number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="room_number">房间号</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="room_number" name="room_number" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="start_date">开课日期</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="start_date" name="start_date" type="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="end_date">结课日期</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="end_date" name="end_date" type="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="description">简介</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">取消</button>
                    <button class="btn btn-primary" type="submit">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ModalManage -->

<!--ModalTake-->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false" id="ModalTake"
     role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/staff/chooseClass/pick" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTake_title">会员选课</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="course_id">课程ID</label>
                        <div class="col-sm-10">
                            <input class="form-control-plaintext" id="course_id" name="course_id" readonly type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="member_id">会员ID</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="member_id" name="member_id" required type="text">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">取消</button>
                    <button class="btn btn-primary" type="submit">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ModalTake -->

<!--ModalQuit-->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false" id="ModalQuit"
     role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/staff/chooseClass/add" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalQuit_title">选课会员名单</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="col-sm-12 table">
                        <thead>
                        <tr>
                            <th>会员ID</th>
                            <th>会员名字</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>123</td>
                            <td>zzz</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>124</td>
                            <td>mmm</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td>tmsl</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="#">退课</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ModalQuit -->

<!--ModalInfo-->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false" id="ModalInfo"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/staff/chooseClass/add" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="title"></h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="courseInfo">

                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">关 闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ModalInfo -->


<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="bootstrap-4.5.0-dist/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="dashboard.js"></script>
</body>
</html>