<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程表</title>
    <base th:href="@{/}">
    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.5.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.5/examples/dashboard/" rel="canonical">
    <link href="dashboard.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    window.onload = function () {	// 页面加载之后, 获取页面中的对象
        initTable()
    };

    function initTable() {
        /*var day = 7;
        var slot = 1;
        for (; slot < 6; slot++) {
            for (; day > 0; day--) {
                var id = day * 321 + slot;
                var dayFrom = id % 30;
                var dayTo = id % 30;
                var html = "<td style='width: 14%'>[课程" + id + "]<br>" +
                    "日期:2020-6-" + dayFrom + "<br>~2020-7-" + dayTo + "<br>" +
                    "教练:zcf</td>>";
                $('#slot' + slot).after(html);
            }
            if (slot < 5) day = 7;
        }*/
        var CourseTableItemList = [[${CourseTableItemList}]];
        for (var i = 0; i < CourseTableItemList.length; ++i) {
            var date_start = new Date(CourseTableItemList[i].start_date).toLocaleDateString();
            var date_end = new Date(CourseTableItemList[i].end_date).toLocaleDateString();
            $("[name='slot" + CourseTableItemList[i].time_slot_id + "']").append(
                "<a href='staff/courseManage/" + CourseTableItemList[i].id + "'>【" + CourseTableItemList[i].course_name + "】</a><br>" +
                date_start + "~" + date_end + "<br>" +
                "<a href='staff/coachManage/" + CourseTableItemList[i].coach_id + "'>教练：" + CourseTableItemList[i].coach_name + "</a><br>"
            );
        }
    }
</script>
<div th:replace="staff/fragments::topNav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="staff/fragments::sidebarMenu(activeUri='classTable')"></div>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">课程表</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th style="width: 19%">周一</th>
                        <th style="width: 19%">周二</th>
                        <th style="width: 19%">周三</th>
                        <th style="width: 19%">周四</th>
                        <th style="width: 19%">周五</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>第一二节</td>
                        <td name="slot1"></td>
                        <td name="slot2"></td>
                        <td name="slot1"></td>
                        <td name="slot2"></td>
                        <td name="slot1"></td>
                    </tr>
                    <tr>
                        <td>第三四节</td>
                        <td name="slot3"></td>
                        <td name="slot4"></td>
                        <td name="slot3"></td>
                        <td name="slot4"></td>
                        <td name="slot3"></td>
                    </tr>
                    <tr>
                        <td>第七八节</td>
                        <td name="slot5"></td>
                        <td name="slot6"></td>
                        <td name="slot5"></td>
                        <td name="slot6"></td>
                        <td name="slot5"></td>
                    </tr>
                    <tr>
                        <td>第七八节</td>
                        <td name="slot7"></td>
                        <td name="slot8"></td>
                        <td name="slot7"></td>
                        <td name="slot8"></td>
                        <td name="slot7"></td>
                    </tr>
                    <tr>
                        <td>晚上</td>
                        <td name="slot9"></td>
                        <td name="slot10"></td>
                        <td name="slot9"></td>
                        <td name="slot10"></td>
                        <td name="slot9"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="bootstrap-4.5.0-dist/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="dashboard.js"></script>
</body>
</html>