<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程编辑</title>
    <base th:href="@{/}">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.5.0-dist/css/bootstrap.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>

    <link href="https://getbootstrap.com/docs/4.5/examples/dashboard/" rel="canonical">
    <link href="https://getbootstrap.com/docs/4.5/examples/dashboard/" rel="canonical">
    <link href="dashboard.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    window.onload = function () {	// 页面加载之后, 获取页面中的对象
        var message = [[${message}]];
        if (message != null && message != "") {
            alert(message);
        }
    }

    function comfirmCancel(number_of_member) {
        var msg = "您确定要取消该课程吗?";
        if (number_of_member > 0)
            msg = msg + "该课程已有报名会员!";
        return confirm(msg);
    }
</script>
<div th:replace="staff/fragments::topNav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="staff/fragments::sidebarMenu(activeUri='courseManage')"></div>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">课程编辑</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <form method="post"
                              th:action="@{/staff/classManage/}+${course.id}+@{/cancel}"
                              th:if="${course.state == '即将开课'}"
                              th:onsubmit="comfirmCancel([[${course.number_of_member}]]);">
                            <button class="btn btn-outline-danger" data-target="#ModalManage"
                                    data-toggle="modal" type="submit">
                                <span data-feather="user-minus"></span>
                                取消课程
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" th:object="${course}">
                    <form method="post" th:action="@{/staff/courseManage/}+*{id}+@{/update}">
                        <input class="form-control" hidden="" id="id" name="id" th:value="*{id}" type="text">
                        <input class="form-control" hidden="" id="state" name="state" th:value="*{state}" type="text">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="name">课程名</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="name" name="name" th:value="*{name}" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="coach_id">教练ID</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="coach_id" name="coach_id" required
                                       th:value="*{coach_id}" type="number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="name">时间段ID</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="time_slot_id" name="time_slot_id" required
                                       th:value="*{time_slot_id}" type="number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="capacity">容量</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="capacity" name="capacity" required
                                       th:value="*{capacity}"
                                       type="number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="room_number">房间号</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="room_number" name="room_number" required
                                       th:value="*{room_number}"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="start_date">开课日期</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="start_date" name="start_date"
                                       th:value="*{#dates.format(start_date,'yyyy-MM-dd')}"
                                       type="date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="end_date">结课日期</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="end_date" name="end_date"
                                       th:value="*{#dates.format(end_date,'yyyy-MM-dd')}"
                                       type="date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="description">简介</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="description" name="description" rows="3"
                                          th:text="*{description}"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="btn-group">
                                <button class="btn btn-primary" type="submit">确认修改</button>
                                <a class="btn btn-success" href="/staff/courseManage">取消返回</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <img src=" https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1593327313863&di=ef36622d829364c23b69e8bd4fd0848f&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2Fa8efce70565b3725a3469da406209920f7b0428316dfe-OAP1nM_fw658" class="img-fluid" alt="Responsive image">
                </div>

            </div>
        </main>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="dashboard.js"></script>
</body>
</html>