<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <base th:href="@{/}">

    <link href="bootstrap-4.5.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.5/examples/dashboard/" rel="canonical">
    <link href="dashboard.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    window.onload = function () {	// 页面加载之后, 获取页面中的对象
        var message = [[${message}]];
        if (message != null && message != "") {
            alert(message);
        }
    }

    function pwdCheck() {
        var new_pwd = document.getElementById('new_pwd').value;
        var new_pwd_comfirm = document.getElementById('new_pwd_comfirm').value;
        if (new_pwd === "" || new_pwd == null) {
            alert("密码不能为空！");
            return false;
        }
        if (!new_pwd === new_pwd_comfirm) {
            alert("两次输入的新密码不相同！");
            return false;
        }
        return true;
    }
</script>
<div th:replace="staff/fragments::topNav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="staff/fragments::sidebarMenu(activeUri='coachManage')"></div>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">修改密码</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form action="/staff/passwordManage/update" method="post" onsubmit="return pwdCheck()">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="staff_id">ID</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="staff_id" name="staff_id" readonly
                                       th:value="${session.loginUser.id}" type="text">
                            </div>
                        </div>
                        <input class="form-control" hidden id="phone_number" name="phone_number"
                               th:value="${session.loginUser.phone_number}" type="text">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="old_pwd">旧密码</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="old_pwd" name="old_pwd" required
                                       type="password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="new_pwd">新密码</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="new_pwd" name="new_pwd"
                                       type="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="new_pwd_comfirm">确认新密码</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="new_pwd_comfirm"
                                       type="password">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="btn-group">
                                <button class="btn btn-primary" type="submit">确认修改</button>
                                <a class="btn btn-success" href="/index">取消返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="dashboard.js"></script>
</body>
</html>