<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.fitness.dao.AttendanceDao">

    <insert id="insert" parameterType="com.software.fitness.domain.Attendance">
        insert into attendance
            (course_id, member_id, date_of_attendance)
        VALUES (#{course_id}, #{member_id}, #{date_of_attendance});
    </insert>

    <delete id="delete" parameterType="com.software.fitness.domain.Attendance">
        delete
        from attendance
        where course_id = #{course_id}
          and member_id = #{member_id}
          and date_of_attendance = #{date_of_attendance};
    </delete>

    <select id="checkAttendance" parameterType="com.software.fitness.domain.Attendance"
            resultType="com.software.fitness.domain.Attendance">
        select *
        from attendance
        where course_id = #{course_id}
          and member_id = #{member_id}
          and date_of_attendance >= #{date_of_attendance};
    </select>

</mapper>