<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.fitness.dao.CoachDao">
    <insert id="addCoach" parameterType="com.software.fitness.domain.Coach">
        insert into coach
        (`name`, `gender`, `date_of_birth`,`phone_number`,`address`,`state`,`introduction`)
        VALUES
        (#{name},#{gender},#{date_of_birth},#{phone_number},#{address},#{introduction});

        <selectKey keyProperty="order_id" order="AFTER" resultType="java.lang.Integer">
            SELECT last_insert_id();
        </selectKey>
    </insert>
</mapper>