<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.fitness.dao.CourseDao">

    <insert id="insert" parameterType="com.software.fitness.domain.Course">
        insert into course
        (name, coach_id, time_slot_id, capacity, room_number, start_date, end_date, description)
        VALUES
        (#{name},#{coach_id},#{time_slot_id},#{capacity},#{room_number},#{start_date},#{end_date},#{description})
    </insert>
    
    <update id="update" parameterType="com.software.fitness.domain.Course">

    </update>

    <delete id="delete" parameterType="com.software.fitness.domain.Course">

    </delete>

    <select id="getCourseByID" resultType="com.software.fitness.domain.Course">
        select * from course where id=#{id};
    </select>

    <update id="increaseNumberOfMember">
        update course set number_of_member = number_of_member + 1 where id=#{id};
    </update>

    <update id="decreaseNumberOfCourse">
        update course set number_of_member = number_of_member - 1 where id=#{id};
    </update>

    <select id="getAllCourse" resultType="com.software.fitness.domain.Course">
        select * from course;
    </select>


</mapper>