<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.fitness.dao.RecordDao">

    <insert id="insert" parameterType="com.software.fitness.domain.Record">
        insert into record (staff_id, member_id, time, operation) VALUES (#{staff_id},#{member_id},#{time},#{operation});
        <selectKey keyProperty="order_id" order="AFTER" resultType="java.lang.Integer">
            SELECT last_insert_id();
        </selectKey>
    </insert>

    <delete id="delete" parameterType="com.software.fitness.domain.Record">

    </delete>

</mapper>