<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.fitness.dao.Take_courseDao">

    <insert id="insert" parameterType="com.software.fitness.domain.Take_course">
        insert into take_course
            (course_id, member_id)
        VALUES (#{course_id}, #{member_id});
    </insert>

    <delete id="delete" parameterType="com.software.fitness.domain.Take_course">
        delete
        from take_course
        where course_id = #{course_id}
          and member_id = #{member_id};
    </delete>

    <select id="listCourseChosenItem" parameterType="java.lang.Integer"
            resultType="com.software.fitness.domain.CourseChosenItem">
        SELECT `take_course`.`member_id`,
               `take_course`.`course_id`,
               `member`.`name` as `member_name`,
               `member`.`gender`,
               `member`.`date_of_birth`,
               `member`.`phone_number`
        FROM `fitnesstest`.`member`,
             `fitnesstest`.`take_course`
        WHERE `member`.`id` = `take_course`.`member_id`
          AND `take_course`.`course_id` = #{course_id};
    </select>

</mapper>